<footer class="flair-bg-gradient-bottom-grey">
    <div id="footer_container" class="container">
        <nav class="row">
            <div id="social_buttons" class="col-md-5 col-lg-4 order-md-1">
                <a href="https://github.com/gridcoin-community/Gridcoin-Research">
                    <img src="/assets/img/ic-footer-github.svg" title="GitHub" alt="GitHub">
                </a>
                <a href="https://www.facebook.com/gridcoins">
                    <img src="/assets/img/ic-footer-facebook.svg" title="Facebook" alt="Facebook">
                </a>
                <a href="https://twitter.com/GridcoinNetwork">
                    <img src="/assets/img/ic-footer-twitter.svg" title="Twitter" alt="Twitter">
                </a>
                <a href="https://steemit.com/trending/gridcoin">
                    <img src="/assets/img/ic-footer-steemit.svg" title="Steemit" alt="Steemit">
                </a>
                <div class="w-100"></div>
                <a href="https://www.reddit.com/r/gridcoin">
                    <img src="/assets/img/ic-footer-reddit.svg" title="Reddit" alt="Reddit">
                </a>
                <a href="https://discord.gg/UMWUnMjN4x">
                    <img src="/assets/img/ic-footer-discord.svg" title="Discord" alt="Discord">
                </a>
                <a href="https://join.slack.com/t/teamgridcoin/shared_invite/enQtMjk2NTI4MzAwMzg0LTE4N2I3ZWZjYWJlZGM1Zjg3MTUyMDhiN2M5NmRmZTA2NDA0ZmY1ZTFmOGM3ZGU2YTBkOTdhNTk2ZjkzMGZkODY">
                    <img src="/assets/img/ic-footer-slack.svg" title="Slack" alt="Slack">
                </a>
                <a href="https://t.me/gridcoin">
                    <img src="/assets/img/ic-footer-telegram.svg" title="Telegram" alt="Telegram">
                </a>
            </div><!-- #social_buttons -->

            <div id="footer_links" class="col-md-7 col-lg-8 order-md-0">
                <div>
                    <h6>Community</h6>
                    <ul>
                        <li><a href="/contact.htm">Contact Us</a></li>
                        <li><a href="https://discord.gg/UMWUnMjN4x">Discord</a></li>
                        <li><a href="https://www.facebook.com/gridcoins">Facebook</a></li>
                        <li><a href="https://www.reddit.com/r/gridcoin">Reddit</a></li>
                        <li><a href="https://join.slack.com/t/teamgridcoin/shared_invite/enQtMjk2NTI4MzAwMzg0LTE4N2I3ZWZjYWJlZGM1Zjg3MTUyMDhiN2M5NmRmZTA2NDA0ZmY1ZTFmOGM3ZGU2YTBkOTdhNTk2ZjkzMGZkODY">Slack</a></li>
                        <li><a href="https://steemit.com/trending/gridcoin">Steemit</a></li>
                        <li><a href="https://twitter.com/GridcoinNetwork">Twitter</a></li>
                        <li><a href="https://t.me/gridcoin">Gridcoin Telegram</a></li>
                        <li><a href="https://t.me/BOINC_Telegram">BOINC Telegram</a></li>
                        <li><a href="https://jq.qq.com/?_wv=1027&k=5fDyjCV">Gridcoin 中国 qq 群</a></li>
                    </ul>
                </div>

                <div>
                    <h6>Media</h6>
                    <ul>
                        <li><a href="https://github.com/gridcoin-community/Gridcoin-Marketing">Marketing & Media Files</a></li>
                        <li><a href="https://www.mixcloud.com/gridcoin_hangouts/">Mixcloud</a></li>
                        <li><a href="https://soundcloud.com/gridcoin-community-hangouts/">SoundCloud</a></li>
                        <li><a href="https://www.youtube.com/c/GridcoinNetwork">YouTube</a></li>
                    </ul>
                </div>

                <div>
                    <h6>Development</h6>
                    <ul>
                        <li><a href="https://github.com/gridcoin-community/Gridcoin-Research">Github</a></li>
                        <li><a href="https://github.com/gridcoin-community/Gridcoin-Research/graphs/contributors">Core Wallet Contributors</a></li>
                        <li><a href="/wiki/rpc.html">RPC Wiki Page</a></li>
                        <li><a href="/#section_download">Wallet Downloads</a></li>
                    </ul>
                </div>

                <div>
                    <h6>Block Explorers</h6>
                    <ul>
                        <li><a href="https://www.gridcoinstats.eu/block">GridcoinStats</a></li>
                        <li><a href="https://gridcoin.network/">Gridcoin.network</a></li>
                        <li><a href="https://gridcoin.ch/">Gridcoin.ch</a></li>
                    </ul>
                </div>

                <div>
                    <h6>Team Stats</h6>
                    <ul>
                        <li><a href="https://boincstats.com/en/stats/-1/team/detail/118094994/projectList">Boincstats</a></li>
                        <li><a href="http://stats.free-dc.org/stats.php?page=teambycpid&team=Gridcoin">Free-DC</a></li>
                        <li><a href="http://www.boinc.netsoft-online.com/e107_plugins/boinc/bp_home.php">Netsoft</a></li>
                        <li><a href="https://statsbzh.boinc-af.org/team.php?name=R3JpZGNvaW4=">SETIBZH</a></li>
                    </ul>
                </div>

                <div>
                    <h6>Main Guides</h6>
                    <ul>
                        <li><a href="/guides/#solo">Solo Crunching</a></li>
                        <li><a href="/guides/#pool">Pool Crunching</a></li>
                        <li><a href="/guides/#staking-only">Staking-only Mode</a></li>
                    </ul>
                </div>

                <div>
                    <h6>Guides</h6>
                    <ul>
                        <li><a href="/whitelist.htm">Project Whitelist</a></li>
                        <li><a href="/guides/security.htm">Security</a></li>
                        <li><a href="/guides/misc.htm">Misc. Guides</a></li>
                        <li><a href="/guides/terminology.htm">Terminology</a></li>
                        <li><a href="/wiki/faq.html">Gridcoin FAQ</a></li>
                    </ul>
                </div>

                <div>
                    <h6>Publications</h6>
                    <ul>
                        <li><a href="/assets/docs/whitepaper.pdf">Whitepaper</a></li>
                        <li><a href="https://gridcoin.us/assets/docs/grc-bluepaper-section-1.pdf">Gridcoin Staking Bluepaper</a></li>
                        <li><a href="https://boinc.berkeley.edu/wiki/Publications_by_BOINC_projects">BOINC Project Publications</a></li>
                        <li><a href="https://scholar.google.co.uk/scholar?q=BOINC">BOINC Academic Articles</a></li>
                        <li><a href="http://wiki.gridcoin.us/Main_Page">Gridcoin Wiki</a></li>
                    </ul>
                </div>

                <div>
                    <h6>Exchanges</h6>
                    <ul>
                        {% for exchange in site.data.exchanges.centralized-exchanges %}
                        <li>
                            <a href="{{exchange.link}}">{{exchange.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div>
                    <h6>Exchange Stats</h6>
                    <ul>
                        <li><a href="https://www.coingecko.com/en/coins/gridcoin-research">CoinGecko</a></li>
                        <li><a href="https://coinmarketcap.com/currencies/gridcoin/">Coinmarketcap</a></li>
                        <li><a href="https://www.cryptocompare.com/coins/grc/overview">CryptoCompare</a></li>
                        <li><a href="https://www.worldcoinindex.com/coin/gridcoin">WorldCoinIndex</a></li>
                    </ul>
                </div>

                <div>
                    <h6>3rd party wallets</h6>
                    <ul>
                        <li><a href="https://holytransaction.com/">HolyTransaction</a></li>
                    </ul>
                </div>
            </div><!-- #footer_links -->
        </nav><!-- .row -->

        <div class="row">
            <div class="col-auto">Copyright &copy; 2022 Gridcoin</div>
            <div class="col-auto">Contact us: <a href="mailto:contact@gridcoin.us">contact@gridcoin.us</a></div>
        </div>
    </div><!-- #footer_container -->
</footer>
