<section id="section_boinc_intro" class="container tight-width">
  <h2 class="echo-header">
      <span class="echo" aria-hidden="true">BOINC Introduction</span>
      BOINC Introduction
  </h2>

  <img class="d-block mx-auto mb-5" src="/assets/img/boinc-logo.svg" alt="BOINC logo" style="width: 240px;">

  <p>
      BOINC&mdash;<a href="https://boinc.berkeley.edu/">The Berkeley Open
      Infrastructure for Network Computing</a>, an open-source middleware
      system, supports volunteer and grid computing. Originally developed to
      support the SETI@home project, it became generalized as a platform for
      other distributed applications in areas as diverse as mathematics,
      linguistics, medicine, molecular biology, climatology, environmental
      science, and astrophysics, among others. BOINC aims to enable researchers
      to tap into the enormous processing resources of multiple personal
      computers around the world.
  </p>
  <p>
      Don't want BOINC rewards? Switch to the <a href="#staking-only">Staking-only Guide</a>.
      You do not need to install or run BOINC in order to use GRC as a
      cryptocurrency.
  </p>
</section><!-- #section_boinc_intro -->