<h2>⚠️ Note: Solo crunching is the suggested method for most new users</h2>

{% include _guides/_boinc_introduction.htm %}

<section id="section_solo_steps" class="container">
  <h2 class="echo-header">
      <span class="echo" aria-hidden="true">Step-by-Step Guide</span>
      Step-by-Step Guide
  </h2>

  <div class="steps">
      <section class="step">
          <header>
              <img src="/assets/img/ic-guide-install-boinc.svg" alt="">
              <h3>
                  <span class="echo" aria-hidden="true">01</span>
                  <strong>Step 1.</strong> Install BOINC
              </h3>
          </header>
          <div class="step-body">
              <p>
                  You must install the BOINC client and select one or more BOINC
                  projects. Go to the <a href="https://boinc.berkeley.edu/">BOINC
                  website</a>, download and install BOINC for any computer that
                  you want to run BOINC on. The BOINC+VirtualBox package is 
                  only needed if you choose projects that use VirtualBox.
              </p>
          </div>
      </section><!-- .step -->

      <section class="step">
        <header>
            <img src="/assets/img/ic-guide-get-gridcoin.svg" alt="">
            <h3>
                <span class="echo" aria-hidden="true">02</span>
                <strong>Step 2.</strong> Sign up to a Gridcoin pool                
            </h3>
        </header>
        <div class="step-body">
            <p>
                There are currently two pools: 
                <ul>
                  <li><a href="https://www.grcpool.com/" target="_blank">GRCPOOL</a></li>
                  <li><a href="https://grc.arikado.ru/" target="_blank">Arikado Pool</a></li>
                </ul>
                <b>GRCPOOL</b> has created several video tutorials for new users:
                <ul>
                  <li><a href="https://www.youtube.com/watch?v=79rTDNjdOf8" rel="nofollow" target="_blank">Setup BOINC</a></li>
                  <li><a href="https://www.youtube.com/watch?v=dB-Hmg94E6s" rel="nofollow" target="_blank">Androin Setup</a></li>
                  <li><a href="https://www.youtube.com/watch?v=FjVjqZnhMZA" rel="nofollow" target="_blank">Receive Gridcoin</a></li>
                </ul>
            </p>
        </div>
    </section><!-- .step -->

    <section class="step">
      <header>
          <img src="/assets/img/ic-guide-choose-project.svg" alt="">
          <h3>
              <span class="echo" aria-hidden="true">02</span>
              <strong>Step 2.</strong> Choose Projects
          </h3>
      </header>
      <div class="step-body">
          <p>
              To earn Gridcoin, you need to crunch <a href="/whitelist.htm">
              whitelisted</a> BOINC projects.
          </p>
          <h4 class="h5">Project Selection Tips</h4>
          <ul>
              <li>
                  Choose projects with the least competition. Use
                  <a href="https://gridcoinstats.eu/">GridcoinStats</a> to
                  help identify such projects.
              </li>
              <li>
                  Select projects most compatible with your computer hardware.
                  Don't crunch GPU work with a CPU.
              </li>
              <li>
                  Verify that your projects have enough work available. You
                  don't want downtime while waiting for projects to generate
                  new work.
              </li>
              <li>
                  Have a backup project in case your primary project runs out
                  of work or goes down.
              </li>
          </ul>
        </div><!-- .step-body -->
      </section><!-- .step -->

      <section class="step">
          <header>
              <img src="/assets/img/ic-guide-gridcoin-wallet.svg" alt="">
              <h3>
                  <span class="echo" aria-hidden="true">04</span>
                  <strong>Step 4.</strong> Install the Gridcoin Wallet
              </h3>
          </header>
          <div class="step-body">
              <p>
                  <a href="/#section_download">Install a client</a> compatible with your operating system.
              </p>
          </div><!-- .step-body -->
      </section><!-- .step -->

      <section class="step">
          <header>
              <img src="/assets/img/ic-guide-sync-blockchain.svg" alt="">
              <h3>
                  <span class="echo" aria-hidden="true">05</span>
                  <strong>Step 5.</strong> Sync with the Blockchain
              </h3>
          </header>
          <div class="step-body">
              <p>
                  Before your wallet can do anything, it needs to be synced
                  (the green check mark under connections means you are synced).
              </p>
          </div><!-- .step-body -->
      </section><!-- .step -->

      <section class="step">
          <header>
              <img src="/assets/img/ic-guide-earn-grc.svg" alt="">
              <h3>
                  <span class="echo" aria-hidden="true">07</span>
                  <strong>Step 7.</strong> Earn Research Rewards
              </h3>
          </header>
          <div class="step-body">
              Follow the instructions provided by the selected gridcoin pool.
          </div><!-- .step-body -->
      </section><!-- .step -->
  </div><!-- .steps -->
</section><!-- #section_solo_steps -->
