{% include _guides/_boinc_introduction.htm %}

<section id="section_solo_steps" class="container">
  <h2 class="echo-header">
      <span class="echo" aria-hidden="true">Step-by-Step Guide</span>
      Step-by-Step Guide
  </h2>

  <div class="steps">
      <section class="step">
          <header>
              <img src="/assets/img/ic-guide-install-boinc.svg" alt="">
              <h3>
                  <span class="echo" aria-hidden="true">01</span>
                  <strong>Step 1.</strong> Install BOINC
              </h3>
          </header>
          <div class="step-body">
              <p>
                  You must install the BOINC client and select one or more BOINC
                  projects. Go to the <a href="https://boinc.berkeley.edu/">BOINC
                  website</a>, download and install BOINC for any computer that
                  you want to run BOINC on. If you don't choose projects that use
                  VirtualBox, the BOINC+VirtualBox package is not needed.
              </p>
          </div>
      </section><!-- .step -->

      <section class="step">
          <header>
              <img src="/assets/img/ic-guide-choose-project.svg" alt="">
              <h3>
                  <span class="echo" aria-hidden="true">02</span>
                  <strong>Step 2.</strong> Choose Projects
              </h3>
          </header>
          <div class="step-body">
              <p>
                  To earn Gridcoin, you need to crunch <a href="/whitelist.htm">
                  whitelisted</a> BOINC projects on team Gridcoin.
              </p>
              <h4 class="h5">Project Selection Tips</h4>
              <ul>
                  <li>
                      Choose projects with the least competition. Use
                      <a href="https://gridcoinstats.eu/">GridcoinStats</a> to
                      help identify such projects.
                  </li>
                  <li>
                      Select projects most compatible with your computer hardware.
                      Don't crunch GPU work with a CPU.
                  </li>
                  <li>
                      Verify that your projects have enough work available. You
                      don't want downtime while waiting for projects to generate
                      new work.
                  </li>
                  <li>
                      Have a backup project in case your primary project runs out
                      of work or goes down.
                  </li>
              </ul>
          </div><!-- .step-body -->
      </section><!-- .step -->

      <section class="step">
          <header>
              <img src="/assets/img/ic-guide-setup-project.svg" alt="">
              <h3>
                  <span class="echo" aria-hidden="true">03</span>
                  <strong>Step 3.</strong> Setup Projects
              </h3>
          </header>
          <div class="step-body">
              <h4 class="h5">No Account Manager Setup</h4>
              <ol>
                  <li>After starting BOINC, select the "add a project" button.</li>
                  <li>After clicking "Next", choose a project.</li>
                  <li>
                      For some projects (such as World Community Grid), you have to
                      register directly on the homepage of the project. Remember
                      to use the same email address for each BOINC project.
                  </li>
                  <li>
                      Confirm the registration. After tapping the "Finish" button,
                      a browser should open. If not, go to the project home page
                      (which can be found via a search engine). Find the "Your
                      Account" button and press it.
                  </li>
                  <li>
                      Within the web page, enter your username (country/post code
                      can be blank) and then press "OK".
                  </li>
                  <li>Search for and join team "Gridcoin".</li>
                  <li>Repeat these steps for all projects that you want to participate in.</li>
              </ol>
          </div><!-- .step-body -->
      </section><!-- .step -->

      <section class="step">
          <header>
              <img src="/assets/img/ic-guide-gridcoin-wallet.svg" alt="">
              <h3>
                  <span class="echo" aria-hidden="true">04</span>
                  <strong>Step 4.</strong> Install the Gridcoin Wallet
              </h3>
          </header>
          <div class="step-body">
              <p>
                  To earn Gridcoin in solo staking mode, you need to run the Gridcoin
                  client continuously. Install a client compatible with your operating
                  system.
              </p>

              <h4 class="h5">Optional Post-install Gridcoin Configuration</h4>

              <ul>
                  <li>
                      If you installed the BOINC client anywhere other than the
                      default installation location, you'll need to specify where
                      you installed BOINC in the gridcoinresearch.conf file.
                  </li>
                  <li>
                      You need to use the same email address for all BOINC projects.
                      Add this email to your gridcoinresearch.conf file (unless the
                      Gridcoin wizard has already done this for you).
                  </li>
              </ul>
          </div><!-- .step-body -->
      </section><!-- .step -->

      <section class="step">
          <header>
              <img src="/assets/img/ic-guide-sync-blockchain.svg" alt="">
              <h3>
                  <span class="echo" aria-hidden="true">05</span>
                  <strong>Step 5.</strong> Sync with the Blockchain
              </h3>
          </header>
          <div class="step-body">
              <p>
                  Before your wallet can do anything, it needs to be synced
                  (the green check mark under connections means you are synced).
              </p>
          </div><!-- .step-body -->
      </section><!-- .step -->

      <section class="step">
          <header>
              <img src="/assets/img/ic-guide-get-gridcoin.svg" alt="">
              <h3>
                  <span class="echo" aria-hidden="true">06</span>
                  <strong>Step 6.</strong> Get Some Gridcoin
              </h3>
          </header>
          <div class="step-body">
              <p>
                  In Gridcoin's Proof-of-Stake (PoS) system, BOINC rewards are
                  given when users stake along with an additional 10 GRC.
              </p>
              <p>
                  To stake and earn your BOINC rewards, a balance of GRC is
                  required.
              </p>

              <ol>
                  <li>
                      For monthly staking, a balance of approximately 5000 GRC
                      is recommended.
                  </li>
                  <li>
                      The rate you are rewarded for your BOINC work is the rate
                      you mint PoS blocks because BOINC rewards are layered on
                      top of these blocks.
                  </li>
                  <li>
                      Your balance does not affect the amount of the payout,
                      only how frequent. You need to wait around 16 hours for
                      received coins to become eligible to earn staking rewards.
                  </li>
              </ol>

              <p>
                  If you don't want to buy any Gridcoin, you can get some through
                  the faucets or through <a href="#">pool mining</a>.
                  On most exchanges, you need to buy Bitcoin first in order to
                  buy Gridcoin.
              </p>
          </div><!-- .step-body -->
      </section><!-- .step -->

      <section class="step">
          <header>
              <img src="/assets/img/ic-guide-earn-grc.svg" alt="">
              <h3>
                  <span class="echo" aria-hidden="true">07</span>
                  <strong>Step 7.</strong> Earn Research Rewards
              </h3>
          </header>
          <div class="step-body">
              <h4 class="h5">Check Your Projects</h4>
              <ol>
                  <li>
                      Make sure any projects you crunch are on the
                      <a href="/whitelist.htm">whitelist</a>. If a project
                      isn't approved, you will not be rewarded for it.
                  </li>
                  <li>
                      Check that each project crunched is on team Gridcoin.
                      You will not earn rewards if they are not on the team.
                  </li>
                  <li>
                      Check that the CPIDs (cross-project identifiers) are the
                      same across your projects. You can check on each project
                      or check using
                      <a href="https://www.boincstats.com/">BOINCstats</a>.
                      If you found differing CPIDs, use this
                      <a href="https://steemit.com/gridcoin/@dutch/the-definitive-guide-to-fixing-a-split-cpid-gridcoin-s-and-boinc-s-1-problem">guide</a>.
                  </li>
                  <li>
                      If you installed the BOINC client anywhere other than the
                      default installation location, you'll need to specify
                      where you installed BOINC in the gridcoinresearch.conf file.
                      <br />
                      <br />
                      <b>Windows</b>: (Note the double backslashes are necessary. Change location according to your non-default install location)
                      <pre class="highlight">boincdatadir=D:\\ProgramData\\BOINC\\
boincappdir=C:\\Program Files\\BOINC\\</pre>
                      <br />
                      <b>Linux:</b>
                      <pre class="highlight">boincdatadir=/var/lib/boinc-client/</pre>
                  </li>
              </ol>

              <h4 class="h5">Configure the Wallet</h4>
              <ol>
                  <li>
                      In the wallet, go to the "overview" page and check the
                      message in the lower-left. Make sure it doesn't say
                      "Staking Only - Investor Mode".

                      <ul>
                          <li>
                              If it does, ensure that you followed each
                              of the steps in "Check Your Projects" above.
                              If you set up BOINC in a non-default path, add
                              the path to the configuration file (see Step 4).
                          </li>
                      </ul>
                  </li>
                  <li>
                    <a href="https://gridcoin.us/guides/earn-grc.htm" target="_blank">Send a beacon</a>.
                  </li>
              </ol>

              <h4 class="h5">Running the Wallet to Stake</h4>
              <ol>
                  <li>
                      Unlock the wallet for staking only if locked. It is
                      recommended to have it encrypted for security.
                  </li>
                  <li>
                      Run the wallet close to 24/7. When your wallet is off,
                      you miss chances to stake blocks and earn rewards.
                  </li>
                  <li>
                      Every six months, you will need to send a beacon again.
                      Repeat the process shown in "Configure the Wallet" (Step
                      "B").
                  </li>
                  <li>
                      Keep the wallet up-to-date as updates are released.
                  </li>
              </ol>
          </div><!-- .step-body -->
      </section><!-- .step -->
  </div><!-- .steps -->
</section><!-- #section_solo_steps -->
