<section id="section_solo_steps" class="container">
  <h2 class="echo-header">
      <span class="echo" aria-hidden="true">Step-by-Step Guide</span>
      Step-by-Step Guide
  </h2>

  <div class="steps">
      <section class="step">
          <header>
              <img src="/assets/img/ic-guide-gridcoin-wallet.svg" alt="">
              <h3>
                  <span class="echo" aria-hidden="true">01</span>
                  <strong>Step 1.</strong> Install the Gridcoin Wallet
              </h3>
          </header>
          <div class="step-body">
              <p>
                  To earn Gridcoin in solo staking mode, you need to run the Gridcoin
                  client continuously. <a href="/#section_download">Install a client</a> compatible with your operating
                  system.
              </p>
          </div><!-- .step-body -->
      </section><!-- .step -->

      <section class="step">
          <header>
              <img src="/assets/img/ic-guide-sync-blockchain.svg" alt="">
              <h3>
                  <span class="echo" aria-hidden="true">02</span>
                  <strong>Step 2.</strong> Sync with the Blockchain
              </h3>
          </header>
          <div class="step-body">
              <p>
                  Before your wallet can do anything, it needs to be synced
                  (the lit stacked icon on the bottom-right means you are synced).
              </p>
          </div><!-- .step-body -->
      </section><!-- .step -->

      <section class="step">
          <header>
              <img src="/assets/img/ic-guide-get-gridcoin.svg" alt="">
              <h3>
                  <span class="echo" aria-hidden="true">03</span>
                  <strong>Step 3.</strong> Get Some Gridcoin
              </h3>
          </header>
          <div class="step-body">
              <p>
                  In Gridcoin's Proof-of-Stake (PoS) system, BOINC rewards are
                  given when users stake along with an additional 10 GRC.
              </p>
              <p>
                  To stake, a balance of GRC is required.
              </p>

              <ol>
                  <li>
                      For monthly staking, a balance of approximately 5000 GRC
                      is recommended.
                  </li>
                  <li>
                      Your balance does not affect the amount of the payout,
                      only how frequent. You need to wait around 16 hours for
                      received coins to become eligible to earn staking rewards.
                  </li>
              </ol>

              <p>
                  If you don't want to buy any Gridcoin, you can get some through
                  the faucets or through <a href="/guides/#pool">pool mining</a>.
                  On most exchanges, you need to buy Bitcoin first in order to
                  buy Gridcoin.
              </p>
          </div><!-- .step-body -->
      </section><!-- .step -->

      <section class="step">
          <header>
              <img src="/assets/img/ic-guide-earn-grc.svg" alt="">
              <h3>
                  <span class="echo" aria-hidden="true">04</span>
                  <strong>Step 4.</strong> Earn Gridcoin via POS
              </h3>
          </header>
          <div class="step-body">
              <ol>
                  <li>
                    Once running an up-to-date fully synced client with a positive balance, 
                    all that is required is for you to unlock your wallet for 'staking only'.
                  </li>
                  <li>
                    Once your wallet is unlocked, it will take up to 16 hours 
                    for your coins to fully start staking. 
                  </li>
                  <li>
                    Best practice is to continuously stake 24/7 if possible, 
                    since you have an opportunity to stake each block 
                    (even if your probability is low) and coin age is not considered 
                    within the staking probability calculation. 
                  </li>
              </ol>
          </div><!-- .step-body -->
      </section><!-- .step -->
  </div><!-- .steps -->
</section><!-- #section_solo_steps -->
