---
title: "Detailed Guides - Gridcoin"
---

<section id="section_guides_intro">
    <div class="container tight-width text-center">
        <h1>Detailed <strong>Guides</strong></h1>
        <div class="flair-gradient-dots mx-auto my-4"></div>
    </div>
</section>

<section id="section_choose_mode" class="container">
    <h2 class="echo-header">
        <span class="echo" aria-hidden="true">How'd you like to participate?</span>
        How would you like to participate?
    </h2>
    <p class="tight-width mx-auto">
        Solo crunching is for people with a balance of GRC that gives a higher probability of staking a block within 8 weeks. This is currently about 5,000 GRC.
        <br><br>
        Pool crunching is for people with few or no GRC. You will earn GRC with a pool, but you will not earn individual BOINC stats.
        <br><br>
        Staking-only is for people who do not wish to work on distributed computing projects, but want to earn GRC by securing the ledger.
    </p>

    <ul class="display-list nav nav-tabs" role="tablist">
        <li>
            <a href="#solo" data-toggle="tab" role="tab">
                <img class="img-fluid" src="/assets/img/ic-guide-solo.svg" alt="">
                Solo Crunching
            </a>
        </li>
        <li>
            <a href="#pool" data-toggle="tab" role="tab">
                <img class="img-fluid" src="/assets/img/ic-guide-pool.svg" alt="">
                Pool Crunching
            </a>
        </li>
        <li>
            <a href="#staking-only" data-toggle="tab" role="tab">
                <img class="img-fluid" src="/assets/img/ic-guide-investor.svg" alt="">
                Staking-only Guide
            </a>
        </li>
    </ul>
</section>

<div class="tab-content">
  <div class="tab-pane fade show active" role="tabpanel" id="solo">
    {% include _guides_solo_crunching.htm %}
  </div>
  <div class="tab-pane fade show" role="tabpanel" id="pool">
    {% include _guides_pool_crunching.htm %}
  </div>
  <div class="tab-pane fade show" role="tabpanel" id="staking-only">
    {% include _guides_staking_only.htm %}
  </div>
</div>